body {
  margin: 0%;
  background-color: #23352c
}

#svs-headertxt {
  color: #82e23a;
  text-decoration: underline;
  text-align: center
}

.svs-header {
  width: 100%;
  height: 80px;
  background-color: #345c47
}
